<html ng-app="app"  ng-controller="app">
	<head>
	<title>Search Webapp - Sample</title>
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css">
  	</head>

  	<body>
    	<div class="container">
			<div class="app-heading">
				<h2>
					Search for DevOps or CI or CD or IaC or Immutable Infra or Kubernetes or Docker or Agile...
				</h2>
			</div>
		</div>
		<div class="container">
			<div class="app">
				<input type="text" class="form-control " ng-model="suggestion" placeholder="Type here....">
				<div ng-show="suggestionCollection.length > 0" class="container suggestion-container">
					<div class="suggestion-collection">
						<div ng-repeat="suggestion in suggestionCollection">
							{{suggestion.title}}
							<hr/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body> 
	<script src="js/angular.min.js"></script>
	<script src="js/script.js"></script>
</html>
